# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Flask-specific
instance/
*.db
*.sqlite3

# Config or environment files
*.env

# Uploaded or output files
*.csv
uploads/
ip_results.csv

# IDE/editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/
